<html>
  <body>
    <form action = "/register" method="POST">
      <p style="text-align:center">e-mail<input
      type="email"
      name="email"
      height="50"
      /></p>
      <p style="text-align:center">password<input
      type="password"
      name="password"
      height="50"
      /></p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>